spring:
  main:
    web-application-type: none
  application:
    name: commerce-batch
  profiles:
    active: test
  config:
    import:
      - jpa.yml
      - redis.yml
      - logging.yml
      - monitoring.yml

  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always

management:
  health:
    defaults:
      enabled: false

springdoc:
  api-docs:
    enabled: false
